body {
    background-color: white;
}

.footer {
  /* padding: 6px 6px 6px 32px; */
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: black;
  color: white;
  display: block;
  font-family: 'Open Sans';
  font-weight: 800;

}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #500000;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    font-family: 'Open Sans';
    font-weight: 800;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
    background-color: #eaeaea;
  }

  .sidenav img {
      width: 80%;
      height: auto;
      

  }
  
  .main {
    margin-left: 260px; /* Same as the width of the sidenav */
    margin-right: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
  