body {
    background-color: #500000;
}

/* .blur {
    backdrop-filter: blur(2px);
} */

#loginForm {
    background-color: white;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;


}

#loginCT {
    margin-bottom: 20%;
    
    
    /* display: flex; */

}

#loginCT img {
    width: 100%;
    height: auto;

    /* object-fit: contain; */
}
